/* //////////           Tablet Device          ////////// */
@media screen and (min-width: 576px) and (max-width: 992px) {

    /* Common Style */
    .section-heading {
        font-size: 35px;
    }
    .btn, .btn-blue{
        padding: 15px 20px;
        font-size: 16px;
    
    }
    .paragraph{
        font-size: 14px;
    }

    /* Navbar Tablet Responsive */
    .container {
        width: 90%;
        margin: 0 auto;
    }

    header {
        box-shadow: none;
        width: 100%;
    }

    .navbar {
        justify-content: center;
        flex-direction: column;
        row-gap: 20px;
    }

    .nav-items ul {
        flex-direction: column;

    }

        /* Banner Section Start */
        /* .banner-section {
            background-image: none
        }
    
        .banner-contents {
            background-image: url(../images/Group\ 14.png);
            background-size: cover;
            background-repeat: no-repeat;
            text-align: center;
            padding: 20px 0;
        } */
    
        /* .banner-container {
            flex-direction: column-reverse;
        } */

        .banner-section {
            margin-top: 20px;
        }

        .banner-heading{
            font-size: 60px;
        }

        

        /* Video Section */
        .videos{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }




















/* //////////           Mobile Device          ////////// */

@media screen and (max-width: 576px) {

    /* Common Style for mobile */

    .section-heading {
        font-size: 30px;
    }
    .btn, .btn-blue{
        padding: 10px 15px;
        font-size: 12px;
    
    }

    .paragraph{
        font-size: 14px;
    }
    

    /* Navbar Mobile Responsive */
    .container {
        width: 90%;
        margin: 0 auto;
    }

    header {
        box-shadow: none;
        width: 100%;
    }

    .navbar {
        justify-content: center;
        flex-direction: column;
        row-gap: 20px;
    }

    .nav-items ul {
        flex-direction: column;

    }

    /* Navbar Mobile End */




    /* Banner Section Start */
    .banner-section {
        background-image: none
    }
    
    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-contents {
        background-image: url(../images/Group\ 14.png);
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        padding: 20px 0;
        width: 100%;
    }
    .banner-image{
        width: 100%;
    }
    .banner-heading{
        font-size: 60px;
    }
    
     /* Banner Section Ends */


     /* Second Banner Section Start */

     .second-banner-container{
        flex-direction: column;
        align-items: center;
    }
    .second-banner-image, .second-banner-contents{
        width: 100%;
        text-align: center;
    }
    
     /* Second Banner Section End */



     /* Video Section Start */
     .video-section .container{
         width: 80%;
     }
     .videos{
         flex-direction: column;
     }
     .video{
         margin-bottom: 20px;
     }
     .video p{
         padding: 15px 10px;
     }

     /* Video Section End */




     /* Hero Section Start */
     .hero-container{
        flex-direction: column;
        text-align: center;
     }

     .hero-contents {
        width: 100%;
        padding: 20px;
    }
     .hero-images{
         width: 100%;
     }
     .hero-big-image{
         width: 80%;
     }
     .hero-small-image {
        top: 55%;
        right: 65%;
    }
     
     /* Hero Section End */


     /* Pre Footer Section Start */

     /* Pre Footer Section End */


     /* Footer Start */
     .footer-links{
         gap: 30px;
         flex-wrap: wrap;
     }
     
     footer .copyright{
        margin-top: 40px;
     }
     /* Footer End */
}