/* //////////           Mobile Device          ////////// */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* //////////           Common Style          ////////// */
:root {
    --primary-color: #FF42A5;
    --secondary-color: #0B0223;
    --third-color: #3C354F;
    --fourth-color: #4EC5F7;
    --white-color: #fff;
    --dark-color: #534C64;
    --silver-color: #A5A5A5;
    --heading-font-size: 48px;
    --para-font-size: 18px;
}


.primary-color {

    color: var(--primary-color);
}

.secondary-color {
    color: var(--secondary-color);
}
.white-color{
    color: var(--white-color);
}
.dark-color{
    color: var(--dark-color);
}
.silver-color{
    color: var(--silver-color);
}
.section-heading,
.section-title {
    font-size: var(--heading-font-size);
    color: var(--secondary-color);
}

.gradient-text {
    background-image: linear-gradient(to bottom, #F948B2, #8758F1);
    color: transparent;
    -webkit-background-clip: text;
}

.section-title {
    font-size: 24px;
    padding: 10px 0;
}

.paragraph {
    color: #534C64;
    font-size: var(--para-font-size);
    font-weight: 400;
    line-height: 30px;
    margin: 15px 0;
}

a {
    text-decoration: none;
    padding: 10px 15px;
}

.btn,
.btn-blue {
    background-color: var(--primary-color);
    padding: 20px 40px;
    color: var(--white-color);
    border: 0;
    font-size: 20px;
    font-weight: 600;
    border-radius: 48px;
    margin: 20px 0px;

}

.btn-blue {
    background-color: var(--fourth-color);

}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.container {
    width: 1060px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

ul>li, li {
    list-style: none;
}

/* //////////           Common Style End          ////////// */



/* //////////           Header Style Start          ////////// */
header {
    width: 100%;
    box-shadow: 0px 4px 30px 0 rgba(0, 0, 0, 0.06);
}

.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.nav-logo {
    align-items: center;
}

.nav-logo img {
    margin-right: 10px;
}

.nav-items ul {
    display: flex;

}

.navbar li {
    list-style: none;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
}

.nav-icons i {
    padding-left: 10px;
}

/* //////////           Header Style End          ////////// */





/* //////////           Banner Style Start          ////////// */
.banner-section {
    background-image: url(../images/Group\ 14.png);
    background-size: 50%;
    background-repeat: no-repeat;

}

.banner-container {

    align-items: center;
    justify-content: space-between;
}

.banner-heading {
    font-size: 80px;
}

.banner-content {
    width: 50%;
}

.banner-images {
    width: 50%;
}

.banner-images img {
    width: 100%;
    justify-content: end;
}

.banner-buttons {
    padding: 20px 0;
}

/* //////////           Banner Style End          ////////// */



/* //////////           Second Banner Style Start          ////////// */
.second-banner-section {
    background: linear-gradient(120deg, #FFE8F4, #fff);
    padding: 40px 0;
}

.second-banner-container {
    justify-content: space-between;
    align-items: center;
}

.second-banner-image {
    width: 60%;
}

.second-banner-image img {
    width: 100%;
}

.second-banner-contents {
    text-align: right;
    width: 40%;
}

/* //////////           Second Banner Style End          ////////// */






/* //////////           Video Section Style Start          ////////// */
.video-section {
    padding: 60px 0;
}

.videos {
    justify-content: space-between;
    gap: 2%;
}

.video img {
    width: 100%;
}

/* //////////           Video Section Style End          ////////// */





/* //////////           Hero Section Style Start          ////////// */
.hero-container {
    justify-content: space-evenly;
    align-items: center;
    gap: 2%;
    text-align: right;
}

.hero-contents {
    padding-right: 5%;
    width: 40%;
}

.hero-images {
    position: relative;
    width: 50%;
    margin-left: 5%;
}

.hero-big-image {
    width: 100%
}

.hero-small-image {
    position: absolute;
    width: 40%;
    top: 70%;
    z-index: 20;
    right: 80%;
}


/* //////////           Hero Section Style End          ////////// */



/* //////////           Pre Footer Section Start          ////////// */

.prefooter-section {
    margin-top: 100px;
    background-color: #FFF9FC;
    padding: 100px 0;
}

.prefooter-items {
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 5px;
}

.item {
    background-color: #FFFFFF;
    display: flex;
    border-radius: 35px;
    align-items: center;
    padding: 5px 10px 5px 2px;
    /* transition: border .1s; */

}

.item:hover {
    border: 2px solid var(--primary-color);
    padding: 2px 10px 2px 2px;
}
.item:hover .section-heading{
    color: var(--primary-color);
}

.item .section-heading {
    font-size: 16px;
}

.item img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 4px;

}

/* //////////           Pre Footer Section End          ////////// */
footer{
    background-color: var(--secondary-color);
    padding: 80px 0;
}

footer .nav-logo{
    justify-content: center;
}
.footer-links{
    justify-content: center;
    margin: 60px 0;
}
.footer-links a{
    color: var(--white-color);
}

.silver-color a{
    color: var(--silver-color);
}
.silver-color{
    color: var(--silver-color);
    font-size: 14px;
}
/* //////////           Pre Footer Section End          ////////// */
